
.addButton {
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(102, 255, 0, 0.603);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
  }

.addButton:hover {
    background-color: rgba(151, 255, 81, 0.692);
}

.ingredientList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 15em;
  margin-right: 15em;
}

.submitButton {
  border-radius: 1em;
  padding: .5em;
}

.btn {
  margin: 15px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(0.98);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_content {
  position: relative;
  padding-top: 1em;
  padding-bottom: 5em;
  /* width: 228.5px; */
}

.food_picture {
  background-color: rgb(0, 136, 255);
}

.ingredient_dropdown{
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: rgba(245, 245, 245, 0.603);
  left: 4.5px;
  border-radius: 10px;
}

.ingredient_dropdown ul {
  width: 190px;
  max-height: 75px;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}
.ingredient_dropdown li {
  background-color: rgba(255, 208, 0, 0.315);
  border-bottom: #000;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
.ingredient_dropdown li:hover {
  cursor: pointer;
  background-color: rgba(255, 208, 0, 0.918);
}
.ingredient_dropdown ul::-webkit-scrollbar {
  background-color: rgba(255, 208, 0, 0.315);
  width: 5px;
}

.ingredient_dropdown ul::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(255, 208, 0);
  outline: 1px solid rgb(167, 136, 0);

}

.submit-error {
  color: red;
}