.search_header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.favorite_star {
  cursor: pointer;
}

.search_info {
  display: flex;
  justify-content: space-between;
}

.column1 {
  max-width: 300px;
  padding-right: 5em;
}

.imageContent {
  text-align: left;
  width: 200px;
  height: 200px;
}

.description {
    padding-top: 1em;
    text-align: left;
    max-width: 300px;
}

.column2 {
  max-width: 400px;
}

.ingredient_list {
  text-align: left;
  list-style: circle;
}

.ingredients_container {
  text-align: left;
}

.recipe {
  text-align: left;
}

.text_has {
  color: green;
}

.text_hasNot {
  color: orange;
}

