.card {
    width: 851px;
    max-width: 851px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    animation: pop-in 1s;
  }
  
  @keyframes pop-in {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  