@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* SITE FONT */
* {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: beige;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(5px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.recipe {
  color: orange;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
  cursor: pointer;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn:disabled {
  background: rgb(78, 78, 78);
  border: 1px solid rgb(78, 78, 78);
  color: rgb(212, 212, 212);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.searchContent {

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
/* 
@media (max-width: 414px) {
  .container {
    width: 100%;
  }
  * {
    max-width: 414px;
  }
} */

::-webkit-scrollbar {
 /* background-color: rgba(255, 208, 0, 0.315); */
  background-color: rgba(255, 208, 0, 0);
  width: px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(255, 208, 0);
  outline: 1px solid rgb(167, 136, 0);

}

.validation-error {
  color: #ef3737;
}


/* RECIPE BOOK CONTENT */
.recipebook {
  min-height: 1000px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 1em;
  
}
.recipebook-cover {
  background-color: rgb(255, 209, 110);;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  border-radius: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 999;
  transform: rotateY(0deg);
  transform-origin: 0%;
  animation: bookCover 4s forwards;
}

.recipebook-page {
  background-color: rgb(248, 236, 209);
  width: 98%;
  height: 99%;
  margin: 9px;
  position: absolute;
  right: 9px;
  border-radius: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 998;
  transform: rotateY(0deg);
  transform-origin: 0%;
  animation: bookPage 4.1s forwards;
}


@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(-180deg);
    z-index: 1;}
}
@keyframes bookPage {
  30% { z-index: 998 }
  100% {  transform: rotateY(-180deg);
    z-index: 999;}
}


.recipebook-spine {
 background-color: rgb(255, 216, 131);
 width: 90px;
 height: 100%;
 position: absolute;
 margin: 0px 0 0px 0px;
}

.recipebook-content {
  max-width: 960px;
  margin: 0 auto;
  margin-left: 89px;
  text-align: center;
  border-radius: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgb(255, 231, 179);
  position: relative;
  height: inherit;
}

.recipebook-cards {
  background-color: rgb(255, 231, 179);
  min-height: 1000px;
  width: 100%;
}

.recipebook-title {
  margin: 40px 100px;
  background-color: rgb(248, 236, 209);
  border-radius: 1em;
}

.recipebook-title-img {
  background-color: rgb(245, 111, 2);
  height: 500px;
  width: 500px;
  margin-left: 230px;


  border-radius: 100em;
}

/* END RECIPE BOOK CONTENT */

/* ADD RECIPE CONTENT */

.addrecipe-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(5px);
}

.content_container {
  width: 100%;
  width: 1200px;
  margin: 30px auto;
  padding: 1em 15em;
  text-align: center;
  border-radius: 1em;
  backdrop-filter: blur(5px);
  /* background-color: rgba(255, 255, 255); */
}






/* END ADD RECIPE CONTENT */