.search_header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.favorite_star {
  cursor: pointer;
}

.search_info {
  display: flex;

}

.column1 {
  max-width: 300px;
  padding-right: 5em;
}

.imageContent {
  text-align: left;
  width: 200px;
  height: 200px;
}

.description {
    padding-top: 1em;
    text-align: left;
    width: 220px;
    min-height: 200px;
/*     background-color: cornsilk; */
}

.column2 {
  max-width: 400px;
}

.ingredient_list {
  min-height: 170px;
  text-align: left;
  list-style: circle;
}

.ingredients_container {
  text-align: left;
  width:  500px;
  min-height: 200px;
/*   background-color: bisque; */
}

.recipe_container {
  text-align: left;
  width:  500px;
  min-height: 200px;
/*   background-color: bisque; */
}

.recipe_list {
  text-align: left;
  min-height: 170px;
  text-align: left;
}

.text_has {
  color: green;
}

.text_hasNot {
  color: orange;
}

.selected {
  border-color: yellowgreen;
  border-style: dashed;
  border-radius: 10px;
}